@font-face {
    font-display: swap; 
    font-family: 'Krona One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/krona-one-v14-latin-regular.woff2') format('woff2'); 
  }
@font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v26-latin-300.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); 
  }

*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color:inherit;
    text-decoration: none;
    display: block;
}
p a{
    display: inline;
}
img , picture , video , iframe , svg {
    display: block;
    width: 100%;
    height: initial;
}
svg{
    fill: currentColor;
}
form , input , label , select , option , textarea , button{
    font-size: inherit;
    font-family: inherit;
    display: block;
    background-color: transparent;
}
html{
    scroll-behavior: smooth;
}
:root{
    font-size: 100%;
}
body{
    font-family: "Krona One", sans-serif;
    text-transform: lowercase;
    position:relative;
    background-color: #fff;
}
.digital__gradient{
    position: absolute;
    width: 75%;
    top: 0;
    left: 10%;
    z-index: -1;
    object-fit: scale-down;
    max-width: 2000px ;
}
.header__wrapper{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header{
    width: 100%;
    padding: 1.8rem 2.8125rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    width: 50px;
    height: 50px;
}
.nav__wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
}
.header__menu{
    display: none;
}
.nav__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 3.4375rem;
}
.nav__li::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: width .5s ease;
}
.nav__li:hover::after{
    width: 100%;
}
.btn{
    border: 2px solid #000;
    padding: 20px 2.625rem;
    transition: background-color .5s ease, color .5s ease;
}
.btn:hover{
    background-color: #000;
    color: #fff;
}
.section__row{
    max-width: 2000px;
    margin: 0 auto 10rem;
}
.digital{
    padding: 6rem 0 0;
}
.digital__wrapper{
    width: 50vw;
    padding: 6rem 3rem;
    margin: 4rem 0 0;
}
.digital__a{
    animation: left-to-right 2s cubic-bezier(0.32, 0.39, 0.5, 1.42);
    overflow: hidden;
}
.digital__ul{
    font-size: 1.25rem;
    margin: 1rem 0 0;
    padding: 0 1.5rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
}
.digital__li:nth-child(2){
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.digital__li:nth-child(2)::before{
    content: "";
    display: block;
    width: 1.5625rem;
    height: 3px;
    background-color: #000;
}
.wrapper{
    padding: 0 4.375rem;
}
.h2{
    font-size: 2.375rem;
    padding: 0 0 .9375rem;
}
.section__h2{
    border-bottom: 2px solid #000;
    margin: 0 0 3.75rem;
}
.highlights__grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2.1875rem;
}
.highlights__article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
}
.section__h3{
    font-size: 1.6875rem;
}
.highlights__a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: #000;
    margin: 3px 0 0;
    transition: width .5s ease;
}
.highlights__a:hover::after{
    width: 100%;
}
.names{
    width: 100%;
    background-image: url(../assets/names-background.png);
    margin: 0 0 7.5rem;
}
.names__ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 3.125rem;
    padding: 1.25rem;
    letter-spacing: -1px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10.625rem 3rem;
}
.names__li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: .9375rem 0 0;
}
.names__li::after{
    content: "";
    display: block;
    height: .375rem;
    width: 3.75rem;
    background-color: #000;
    margin: 0 1rem;
}
.names__li--hr::after{
    display: none;
}
.names__a:hover{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px #000;
}
.programs__article{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3.75rem auto;
    width: 100%;
}
.programs__date{
    font-size: 1.25rem;
}
.article__h3{
    font-size: 1.6875rem;
}
.article__btn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}
.location{
    margin: 0 0 4.0625rem;
}
.location__wrapper{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 2.1875rem;
    padding: 0 2.1875rem;
}
.location__span{
    text-transform: initial;

    display: block;
    border-bottom: 2px solid #000;
    padding: 0 0 2.5rem;
    margin: 0 0 2.5rem;
}
.footer{
    background-color: #000;
    color: #fff;
}
.footer__wrapper{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1rem;
    
    padding: 4rem 4.375rem;
    font-size: 1.25rem;
}
.footer__column{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5625rem;
    margin: 2rem 0;
}
.footer__li{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.footer__li--after::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.footer__a{
    transition: transform .5s ease;
}
.footer__a:hover{
    transform: scale(1.2);
}
.footer__span{
    font-size: initial;
    font-family: "Montserrat", sans-serif;
    text-transform: initial;
    font-weight: 300;
    letter-spacing: -0.32px;
}
.footer__form{
    width: 100%;
    position: relative;
}
.form__label{
    display: none;
}
.form__input{
    font-size: .9375rem;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    color: #fff;
}
.form__input::placeholder{
    color: #fff;
}
.form__svg{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.footer__social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem
}
.social__li{
    width: 22px;
    height: 22px;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform .5s ease;
}
.social__li:hover{
    transform: scale(1.5);
}
.social__svg{
    width: 15px;
    height: 15px;
    fill: #000;
    padding: 1px;
}
@keyframes left-to-right {
    from{
        transform: translateX(-500%);
    }
    to{
        transform: translateX(0);
    }
}
@media(max-width:1500px){
    .digital__wrapper{
        width: 85vw;
    }
}
@media(max-width:1000px){
    .header{
        position: relative;
    }
    .header__nav{
        opacity: 0;
        position: absolute;
        left: 0;
        pointer-events: none;
        transform: translateY(-100%);
        transition: transform 1s ease;
    }
    .header__nav.isActive{
        opacity: 1;
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(20px);
        transform: translateY(0%);
        transition: transform 1s ease;
    }
    .nav__ul{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        padding: 1.8rem 2.8125rem 0;
    }
    .nav__li{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
        
    }
    .nav__li::after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        color: #000;
    }
    .nav__li:last-child:after{
        content: "";
        opacity: 0;
    }
    .header__menu{
        display: block;
        cursor: pointer;
    }
    
    .section__row{
        margin: 0 0 7rem;
    }
    .footer__wrapper{
        grid-template-columns: repeat(2 , 1fr);
    }
    .footer__column:nth-child(1){
        grid-row: 2;
    }
}
@media(max-width:880px){
    .digital__wrapper{
        width: 95vw;
    }
    .highlights__grid{
        grid-template-columns: 1fr;
    }
    .highlights__img{
        width: 65%;
        margin: 0 auto;
    }
    .names__ul{
        font-size: 2.7rem;
    }
    .names__li::after{
        width: 2rem;
    }
    .programs__article{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .article__btn{
        justify-content: center;
    }
    .location__wrapper{
        grid-template-columns: 1fr;
        padding: 0 4.375rem;
    }
    .location__img{
        width: 65%;
        margin: 0 auto;
    }
}
@media(max-width:670px){
    .digital{
        padding: 3rem 0 0;
        margin: 0 0 5rem;
    }
    .header{
        padding: 1rem;
    }
    .wrapper{
        padding: 0 2rem;
    }
    .highlights__grid{
        padding: 1rem;
    }
    .highlights__img{
        width: 100%;
    }
    .btn{
        padding: .5rem;
    }
    .names{
        margin: 0 0 4rem
    }
    .names__ul{
        flex-direction: column;
        padding: 5rem;
        font-size: 2rem;
        text-align: center;
    }
    .names__li::after{
        display: none;
    }
    .footer__wrapper{
        grid-template-columns: 1fr;
    }
    .footer__column{
        align-items: center;
    }
    .footer__li{
        align-items: center;
    }
    .footer__column:nth-child(1){
        grid-row: 4;
    }
    .location__img{
        width: 100%;
        margin: 0 auto;
    }
}